.footer {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #A33B20;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #F5F0F6;
    border-top: 5px solid #1C0f13;
  }
